<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../scripts/happiness.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylz/prettiness.css" />
    <title>Tracey Town Super Employee Earnings Tracker</title>
  </head>
  <body>
    <h1>Tracey Town Super Employee Earnings Tracker</h1>
      <h5>First Name:<input type ="text" id = "firstName" value= "First Name"/> <br />
          Last Name:<input type ="text" id = "lastName" value= "Last Name"/><br />
          ID:<input type = "number" id = "empId" value= "Id" /><br />
          Job Title:<input type ="text" id = "jobTitle" value= "title" /><br />
          Annual Salary:<input type="number" id = "annSalary" value= "Annual Salary" /><br />
      </h5>
      <button type="button" name="button" onclick="addEmp()" >Add Employee</button>

    <div id="employee"></div>

    <div id = "salaryTotal">

    </div>

  </body>
</html>
